# {{ ansible_managed }}
NODE_ENV=production
PORT=5000
LISTEN_HOST=0.0.0.0
TRUST_PROXY=true
LOG_LEVEL=info
JWT_EXPIRE=7d

MONGODB_URI=mongodb://{{ mongo_app_user }}:{{ vault_mongo_app_password }}@{{ db_private_ip }}:27017/{{ mongo_app_db }}?authSource={{ mongo_app_db }}
JWT_SECRET={{ vault_jwt_secret }}
FRONTEND_URL=https://{{ web_public_ip }}
